body{
    font-family: 'Montserrat';
}
#title
{
    color: white;
    background-color:#ff4c68;
}
.heading
{

    font-weight: 900;
    font-size: 3.5em;
    line-height: 1.5;
}
.container-fluid
{
    padding: 3% 15% 7%;
}
.navbar-brand
{
    font-family: 'Ubuntu';
    font-weight:bold;
    font-size: 2.5em;
}
.navbar
{
    padding-bottom: 4.5rem;
}
.nav-item
{
    padding: 0 18px;
}
.nav-link
{
    font-weight: 200;
    font-size: 1.2rem;
}
.download-btn
{
    margin: 5% 3% 5% 0%;
}
/* Title Image */
.dog
{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right:30%;
}
/* Features */
.feature-text
{
    text-align: center;
    padding:5%;
}
.feature-icon
{
    color: #ef8172;
    padding:1rem 0;
}
.feature-icon:hover
{
    color:#ff4c68;
}
.feature-p
{
    color: #8f8f8f;
    margin: auto;
}
.feature-h
{
    font-weight: bold;
    font-size: 1.5rem;
}
#features
{
    background-color: white;
    padding:7% 15%;
    position: relative;
}
/*
Testimonial */
#testimonials
{

  text-align: center;
  background-color: #ef8172;
    color:white;
}
h2
{
  font-size: 3.5rem;
  font-weight:bold;

  line-height: 1.5;
}
.testimonial-img
{
  width:10%;
  margin: 20px;
  border-radius: 100%;
}
.carousel-inner
{
    padding:7% 15%;
}
/* Press section */
#press
{
  background-color: #ef8172;
  text-align: center;
  padding:3%;
}
.press-image
{
  width:15%;
  margin:20 20 50;
}

/* Pricing Section */
#pricing
{
  padding:100px;
  text-align: center;
}

.pricing-col
{
  padding:3% 2%;
}

@media(max-width:986px)
{
  #title
  {
    text-align: center;
  }
  .dog
  {
    position: static;
    transform: rotate(0);
  }

}

/* cta section */
#cta
{
  background-color:#ff4c68 ;
  color: white;
  padding: 7% 15%;
  text-align: center;
}
.cta-h3
{
  font-size:3.5rem;
  line-height: 1.5;
  font-weight:900;
}
/* Footer section */
#footer
{
  text-align: center;
  padding: 7% 15% 5%;
}
.copyright
{
  font-family: 'Ubuntu';
  font-size: 15px;
  font-weight: 300;
}
.footer-icon
{
  margin:20px 10px;
}
